asgiref==3.7.2
Pillow==9.2.0
asttokens==2.0.8
backcall==0.2.0
beautifulsoup4==4.11.1
certifi==2022.6.15.1
charset-normalizer==2.1.1
colorama==0.4.5
comm==0.1.4
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
dj-database-url==2.1.0
Django==3.2.23
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.0.0
fonttools==4.37.1
glob2==0.7
gunicorn==21.2.0
idna==3.3
imageio==2.31.1
imutils==0.5.4
ipykernel==6.15.3
ipympl==0.9.3
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.1.0
jedi==0.18.1
joblib==1.2.0
jupyter_client==7.3.5
jupyter-core==4.11.1
jupyterlab-widgets==3.0.8
kiwisolver==1.4.4
lazy_loader==0.3
lxml==4.9.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
multitasking==0.0.11
nest-asyncio==1.5.5
networkx==2.6.3
numpy==1.23.3
opencv-python==4.8.0.74
openpyxl==3.1.2
packaging==21.3
pandas==1.4.4
parso==0.8.3
pickleshare==0.7.5
pip==23.2.1
prompt-toolkit==3.0.31
psutil==5.9.2
psycopg2-binary==2.9.9
pure-eval==0.2.2
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
PyWavelets==1.4.1
pywin32==304
pyzmq==23.2.1
requests==2.28.1
schedule==1.2.0
scikit-image==0.21.0
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.0
setuptools==63.2.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.4
stack-data==0.5.0
threadpoolctl==3.1.0
tifffile==2023.8.12
tk==0.1.0
tornado==6.2
traitlets==5.4.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.12
wcwidth==0.2.5
whitenoise==6.6.0
widgetsnbextension==4.0.8
yfinance==0.1.74
