{% extends 'base.html' %}

{% block content %}
<h2>Busca de Filmes por Nome</h2>
<form action="{% url 'movies:search' %}">
    <p>
        <label for="id_query">Título:</label>
        <input type="text" name="query" id="id_query" />
    </p>
    <button type="submit">Buscar</button>
</form>


<h2>Resultado da Busca</h2>
{% if destino_list %}
<section class="lista-de-cards">
    {% for destino in destino_list %}
    <article class="card">
        <img src="{{ destino.destino_url }}" alt="Paisagem de{{ destino.name}}">
        <p>{{ destino.name }} ({{ destino.categoria }})</p>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum destino para a busca.</p>
{% endif %}

{% endblock content %}