{% extends 'base.html' %}
{% block title %}Delete o comentário{% endblock title %}
{% block content %}
  <h2>Delete o Comentário</h2>
  <p>Tem certeza que quer deletar o comentário "{{comment.comment}}"?</p>

  {% if user.is_authenticated and user == comment.author or user.is_staff %}
    <form method="post" action="{% url 'posts:deleteComment' pk=comment.id %}">
      {% csrf_token %}
      <button type="submit">Deletar</button>
    </form>
  {% endif %}

  <a href="{% url 'posts:detail' comment.post.id %}">Cancelar</a>
{% endblock content %}