{% extends 'base.html' %} 
{% block title %}{{ post.titulo }}{% endblock title %} 
{% block content %}
    <h2>{{ post.titulo }}</h2>
    
    <section class="post">
      <img src="{{ post.imagemCapa.url }}" alt="by {{ post.author.username }}" />
      <p>{{ post.content }}</p>
    </section>

    {% if user.is_authenticated and user == post.author or user.is_staff %}
      <div>
        <a href="{% url 'posts:edit' pk=post.id %}">Edit</a> |
        <a href="{% url 'posts:delete' pk=post.id %}">Delete</a>
      </div>
    {% endif %}
    
{% endblock content %}
